alembic==0.9.1
click==6.7
Flask==0.12
Flask-Cors==3.0.2
itsdangerous==0.24
Jinja2==2.9.5
Mako==1.0.6
MarkupSafe==0.23
pandoc==1.0.0b2
ply==3.10
pyandoc==0.2.0
python-editor==1.0.3
requests==2.13.0
six==1.10.0
SQLAlchemy==1.1.6
Werkzeug==0.11.15
