html {
    height: 100%;
}

body {
	margin: 0;
	padding: 0;
}

.entries {
  list-style: none;
  margin: 0;
  padding: 0;
}
.entries > li {
  margin: 0 1em 1.8em;
  border-bottom: 1px solid grey;
  padding: 15px;
}
.entries > li h2 {
  margin-left: -1em;
}
.date {
  font-size: 0.7em;
  text-align: left;
  color: grey;
}
.entres-h2 {
  text-align: left;
  font-weight: 300;
  padding: 10px 0 2px 27px;
  font-family: sans-serif;
  color: #377ba8;
  }
.entries li p {
  padding-top: 5px;
}

/*****************************/
/******Styles for header******/
/*****************************/
.menu {
  width:100%;
   box-shadow: 0px 4px 3px rgba(0,0,0,0.45);
}

#header nav {
  background-color:#3498db;
}

#header nav ul {
  list-style: none;
  overflow: hidden;
}

#header nav ul li {
  float: right;
}

#header nav ul li a {
  display: block;
  padding: 20px;
  color:#fff;
  outline: none;
  text-decoration: none;
}

 #header nav ul li a:hover{
  background: #2980b9;
 }
/*Стили для выбора тегов*/

#tegs li {
  float: left;
  text-align: center;
}

#tegs ul {
	display: none;
}

#tegs li a {
  display: block;
}

/*****************************/
/*Styles for page "not found"*/
/*****************************/

#not_found {
	transition: all 0.6s;
	font-family: 'Lato', sans-serif;
    color: #888;
    margin: 0;
    display: table;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.not_found {
	  display: table-cell;
	  vertical-align: middle;
}

.not_found h1 {
	  font-size: 50px;
	  display: inline-block;
	  padding-right: 12px;
	  animation: type .5s alternate infinite;
}

@keyframes type {
	  from{box-shadow: inset -3px 0px 0px #888;}
	  to{box-shadow: inset -3px 0px 0px transparent;}
}