{% include  'header.html' %}
<div class=page>
<body>
<h1 align="center"><a href="{{ url_for('blog', git_name=git_name, git_repository_blog=git_repository_blog,
    page = None, tags = None )}}">Big-Blog</a></h1>
{% if not session.logged_in %}
  <form action="{{ url_for('login') }}" method="post" class="form-horizontal">
    <div class="container">
      <div class="form-group">
        <label for="git_name" class="col-sm-2">GitName:</label>
        <input type="text" id="git_name" class="form-control col-sm-6" name="git_name" placeholder="Enter your name in git">
      </div>
      <div class="form-group">
        <label for="git_repository" class="col-sm-2">GitRepositoryBlog:</label>
        <input type="text" id="git_repository col-sm-6" class="form-control" name="git_repository_blog" placeholder="Enter git repository">
      </div>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}
{% endwith %}

      <div class="form-group">
      <input type="submit" class="btn btn-primary col-sm-4" value="Login/Register">
      </div>

{% include 'rules.html' %}
{% endif %}

{% block body %}
{% endblock %}
</div>

{% include 'footer.html' %}
