<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <title>git-blog</title>
</head>
<body>
<p> Big start for git-blog </p>
{% if not session.logged_in %}
  <form action="{{ url_for('blog') }}" method=post>
    <dl>
      <dt>GitName:
      <dd><input type=text name=gitname>
      <dt>GitRepositoryBlog:
      <dd><input type=text name=gitrepositoryblog>
      <dd><input type=submit value=Blog>
    </dl>
  </form>
{% else %}
    <a href="{{ url_for('logout') }}">logout</a>
{% endif %}
{% block body %}
{% endblock %}


</body>
</html>