{% extends "base.html" %}
{% block body %}


<form action="{{ url_for('blog' , git_name=git_name, git_repository_blog=git_repository_blog) }}" method="get">
    <p><select size="3" multiple name="tag">

        <option disabled>ВыберитеТеги</option>
        <option value="None">Все</option>
        {% for tag in tags %}
        <option value="{{ tag }}" >{{ tag }}</option>
        {% endfor %}
    </select>
    <p><input type="submit" value="Выбрать"></p>
</form>
<ul class=entries>
{% for el in file %}
    {% if sort  %}
    {% if sort in el['tags'] %}
      <li>
          <h4 align="right"> {% for tag in el['tags'] %} {{ tag }} {% endfor %}</h4>
          <div class="date"> {{ el['date'] }}</div>
          <h2 class="entres-h2">{{ el['title'] }} </h2>
              {% for line in el['text'] %}
             <br>{{ line }}
              {% endfor %}
          <div style="clear:both;"></div>
      </li>
    {% endif %}
    {% else %}
          <li>
          <h4 align="right"> {% for tag in el['tags'] %} {{ tag }}, {% endfor %}</h4>
          <div class="date"> {{ el['date'] }}</div>
          <h2 class="entres-h2">{{ el['title'] }} </h2>
              {% for line in el['text'] %}
             <br>{{ line }}
              {% endfor %}
          <div style="clear:both;"></div>
      </li>
    {% endif %}
{% endfor %}

</ul>

{% endblock %}