<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  	<!-- Optional theme -->
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  	<!-- Latest compiled and minified JavaScript -->
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	
	<script type="text/javascript">
		$(function(){
			$('#tegs li').hover(function() {
				$(this).children('ul').stop(false, true).fadeIn(300);
			},function() {
				$(this).children('ul').stop(false, true).fadeOut(300);
			});
		})

	</script>

    <title>git-blog</title>
</head>

<div id="header">
    <div class="menu">
        <nav>
          <ul>
            {% if session.logged_in %}
            <li><a href="{{ url_for('logout') }}">logout</a></li>
            {% endif %}
            <div id="tegs">
            	<li><a class="show" href="#">Выберете тег</a></li>

	            <ul>
					<li><a href="#">Все</a></li>
					<li><a href="#">Программирование</a></li>
					<li><a href="#">Юмор</a></li>
	            </ul>
            </div>
            <li><a href="#">bla-bla</a></li>
            <li><a href="#">bla-bla</a></li>
          </ul>
        </nav>
    </div>

</div>
