<div class="rules">
    <h1> Вас приветствует стартовая страничка блог-платформы Big-Blog</h1>
<h3> Для того чтобы начать использовать git-blog необходимо:</h3>
<ul>
  <li>Зарегистрироваться в нашей системе:
     <ul>
        <li>ввести существующее GitHub username</li>
        <li>ввести имя существующего репозитория в котором есть папка posts</li>
        <li>а также ввести пароль по которому вы сможете редактировать свои посты</li>
     </ul>
  </li>
  <li>Внести в папку posts файлы Вашего блога в формате необходимом для корректной работы Big-Blog
     <ul>
        <li>Файла должен быть в формате Markdown</li>
        <li>Имя файла должно соблюдать формат: 'YYYY-MM-DD-some-post-title.md'</li>
        <li>Содержание файла должно быть следующим:
          <ul>например
              <li>---(область заголовков отделена этими символами)</li>
              <li>title: some_title (заглавие поста)</li>
              <li>tags: some_tag (тема или темы через запятую)</li>
              <li>author: some_author (имя автора)</li>
              <li>date: YY-MM-DD HH:MM (формат даты соблюдаем в таком виде для правильного отображения)</li>
              <li>layout:some_layout (шаблон для отображения постов, можно оставить пустым)</li>
              <li>---(область заголовков отделена этими символами)</li>
              <li>Ну и текст поста</li>
          </ul>
        </li>
     </ul>
  </li>
  <li>Для того что-бы изменения отображались в вашем блоге каждый раз когда вы делаете изменения:
     <ul>Необходимо настроить web-hook:
        <li>своем репозитории зайти в настройки</li>
        <li>затем выбрать add webhook</li>
        <li>Payload url вставить http://gitblog.pythonanywhere.com/git_username/git_rep_name/web_hook (в моем случае это http://gitblog.pythonanywhere.com/rrlero/git-blog/web_hook)</li>
        <li>в content type выбрать application/json</li>
        <li>затем галочку на Just the push event и Active</li>
        <li>финальный аккорд Update Webhook</li>
     </ul>
  </li>
</ul>
</div>